<div class="cla-page">
    <% if (title) { %>
        <h1><%= title %></h1>
        <% } else {
            res.redirect('/')
    } %>

    <div id="contAddCla" class="main-content">
        <% if (errors) { %>
            <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
        </ul>
        <% } %>

        <%- messages() %>

        <h3>ALL FIELDS ARE REQUIRED.</h3>
        <form class="formInventory" action="/inv/addInventory" method="post">
            <p>
                <label for="classification_id" class="required">Classification</label><br>
                <%- dropdown %>
            </p>

            <p>
                <label for="inv_make" class="required">Make</label><br>
                <input 
                    type="text" 
                    id="inv_make" 
                    name="inv_make" 
                    class="form-input" 
                    placeholder="Enter the make of the inventory item"
                    required
                    value="<%= locals.inv_make %>"
                >
            </p>

            <p>
                <label for="inv_model" class="required">Model</label><br>
                <input 
                    type="text" 
                    id="inv_model" 
                    name="inv_model" 
                    class="form-input" 
                    placeholder="Enter the model of the inventory item"
                    required
                    value="<%= locals.inv_model %>"
                >
            </p>

            <p>
                <label for="inv_year" class="required">Year</label><br>
                <input 
                    type="number" 
                    id="inv_year" 
                    name="inv_year" 
                    class="form-input" 
                    placeholder="Enter the year of the inventory item"
                    required
                    value="<%= locals.inv_year %>"
                >
            </p>

            <p>
                <label for="inv_description" class="required">Description</label><br>
                <textarea id="inv_description" name="inv_description" class="form-input" placeholder="Enter the description of the inventory item" required><%= locals.inv_description %></textarea>
            </p>

            <p>
                <label for="inv_image" class="required">Image</label><br>
                <input 
                    type="text" 
                    id="inv_image" 
                    name="inv_image" 
                    class="form-input" 
                    placeholder="Enter the image of the inventory item"
                    required
                    value="<%= locals.inv_image %>"
                >
            </p>

            <p>
                <label for="inv_thumbnail" class="required">Thumbnail</label><br>
                <input 
                    type="text" 
                    id="inv_thumbnail" 
                    name="inv_thumbnail" 
                    class="form-input" 
                    placeholder="Enter the thumbnail of the inventory item"
                    required
                    value="<%= locals.inv_thumbnail %>"
                >
            </p>

            <p>
                <label for="inv_price" class="required">Price</label><br>
                <input 
                    type="number" 
                    id="inv_price" 
                    name="inv_price" 
                    class="form-input" 
                    placeholder="Enter the price of the inventory item"
                    required
                    value="<%= locals.inv_price %>"
                >
            </p>

            <p>
                <label for="inv_miles" class="required">Miles</label><br>
                <input 
                    type="number" 
                    id="inv_miles" 
                    name="inv_miles" 
                    class="form-input" 
                    placeholder="Enter the miles of the inventory item"
                    required
                    value="<%= locals.inv_miles %>"
                >
            </p>

            <p>
                <label for="inv_color" class="required">Color</label><br>
                <input 
                    type="text" 
                    id="inv_color" 
                    name="inv_color" 
                    class="form-input" 
                    placeholder="Enter the color of the inventory item"
                    required
                    value="<%= locals.inv_color %>"
                >
            </p>
            <button type="submit" class="form-button">Add Inventory</button>
        </form>
    </div>
</div>